@import "variables";

.core-checkbox-and-label-pair {
  display: inline-block;
  vertical-align: top;
  width: 216px;
  padding-left: 16px;
  padding-top: 16px;
}

.core-checkbox-label {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: $body-size;
  min-width: 88px;
  padding: 18px 8px 8px 0;
  color: $body-text;
  display: inline-block;
  vertical-align: top;
  border-bottom: 2px solid $gray;
}

.checkbox-was-checked {
  background-color: $dark-primary;
  border-radius: 2px;
  color: $white;
}

.core-checkbox {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  height: 18px;
  width: 18px;
  margin: 0;
  margin-top: 16px;
  margin-left: 16px;
  outline: 0;
  border-radius: 4px;
  background-color: none;
  border: 2px solid $gray;
  color: $tertiary;

  &:after {
    content: '✓';
  }
  &:checked {
    color: $white;
    background-color: $primary;
    border: 2px solid $primary;
    border-radius: 4px;
    outline: 0;
  }
}

.checkbox-wrapper-for-ripple {
  // todo
  display: inline-block;
  vertical-align: top;
  height: 48px;
  width: 48px;
  border-radius: 24px;
  transition: background-color 0.5s;
  transition-timing-function: ease;
}

.checkbox-rippled {
  background-color: $light-primary;
}
