
<div class = "footer">
<<<<<<< HEAD
  <%=link_to "About", about_path %> | We want your events! Contact the <a href="mailto:teudumod@gmail.com">Moderator</a> to gain access to the system.| Copyright acm@cmu 2012 
=======
  <%=link_to "About", about_path %> | Copyright <a href ="http://acmatcmu.org/">acm@cmu</a> 2012 
>>>>>>> 2a9467c0e197a85ca44dd621fe9b8a06ea959899
</div>
