<% content_for :title, "Events" %>

<div class="core-base-sheet">
  <h4 class="core-subheading">Categories</h4>
  <div class="paper-button-group">
    <% Category.all().each do |c| %>
      <button class="paper-button clicked" data-toggle-class="not-clicked"
              data-curr-class="clicked" id="category-button-<%= c.id%>">
        <%= c.name %>
      </button>
    <% end %>
  </div>
  <% @events.each do |event| %>
    <%= render event %>
  <% end %>
</div>
