<button class="fab-explore">
  <object type="image/svg+xml" data="">
    Aw, shucks. It looks like your browser can't see SVG icons.
    Press this button to explore!
  </object> 
</button>

<div class="events-categories">
<!-- 
  This div will be filled in by Ajax when the user clicks the 
  FAB. Find my code in app/assets/javascripts/events.coffee! 
-->
</div>

<div class="events-container">
<!--
This div will be filled in by Ajax after the HTML and CSS
finishes loading. Find my code in 
app/assets/javascripts/events.coffee!
-->
</div>
