<div class="container">
	<h1>My Events</h1>
	<ul class="simple-list">
        <% @events = Event.find(:all, :conditions => ['user_id = ?', current_user.id])%>
        <% @events.each do |e| %>
            <li class="simple-row">
                <p class="info-label inline"><%= e.name %></p>
                <p class="action-link inline">
                <%= link_to 'edit', controller: 'events', action: 'edit', id: e.id %>
                </p>
                <p class="action-link inline">
                <%= link_to 'delete', controller: 'events', action: 'destroy', id: e.id %>
                </p>
                <p class="action-link inline">
                <%= link_to 'view', controller: 'events', action: 'show', id: e.id %>
                </p>
            </li>
        <% end %>
    </ul>
</div>
