@import "variables";

.paper-grid-card-base {
  // height, width, background color, display, vertical-align
  width: 326px;
  background-color: $light-primary;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 0 4px 0 $shadow;
  border-radius: 2px;
  margin-top: 16px;
  margin-left: 16px;
}

.paper-grid-card-main-content {
  // height, padding, border-bottom
  padding-left: 16px;
  padding-top: 16px;
  border-bottom: 1px solid $divider;
}

.paper-grid-card-title {
  // font size
  font-family: 'Roboto-Regular', sans-serif;
  font-size: $heading;
  padding-bottom: 8px;
}

.paper-grid-card-subtitle {
  // font size
  font-family: 'Roboto-Regular', sans-serif;
  font-size: $subheading;
  padding-bottom: 8px;
}

.paper-grid-card-action-area {
  // height
  height: 48px;
  padding-left: 8px;
  padding-bottom: 8px;

  form, div {
    display: inline;
  }
}
