<div class="developer-style teudu-page" style="display: none;">
  <div class="core-helpers-naive-column">
    <p class="core-subheading">
      Welcome to Teudu's Living Frontend Style Guide
    </p>
    <p class="event-modal-text-regular">
      This page is intended to serve as a tool for Teudu's frontend
      developers to ensure a consistent look and feel across the site.
      We also hope it's pretty to look at! Put your frontend contributions
      here, and please do reuse as many components as you can when you're
      designing new pages for Teudu! It's a great way to make the original
      implementers of the frontend components feel good. :)
    </p>
  </div>
  <div class="core-helpers-naive-column">
    <!-- make this scrollable. Then put all the components inside -->
  </div>
</div>
