<% content_for :title, "About Teudu" %>
<div class="core-contents-height-base-sheet core-base-sheet-light-theme">

  <p class="core-heading">Welcome to Teudu.</p>

  <!-- version tabs -->
  <div class="paper-tab-group">
    <div class="paper-tab-base paper-tab-base-clicked"
         data-target-buttons="about-v2"
         data-hide-buttons="about-v1">
      v2
    </div>
    <div class="paper-tab-base"
         data-target-buttons="about-v1"
         data-hide-buttons="about-v2">
      v1
    </div>
  </div>

  <div class="about-v1" style="display: none;">
    <div class="core-helpers-naive-column">
      <p class="core-subheading">Why?</p>
      <p class="event-modal-text-regular">
        In 2011, President Cohon posed a question to his student advisory
        council: is Carnegie Mellon fun? After some discussion, the students
        came to the conclusion that while there are a number of diverse
        interesting events on campus students just don't know about them:
        publicity and discovery are problems. Teudu was born as an answer:
        a highly visual, interactive, and most important, filterable,
        advertising medium.
      </p>

      <p class="core-subheading">Why advertise on Teudu?</p>
      <p class="event-modal-text-regular">
        Teudu provides an interactive Kinect environment installed on
        the fifth floor of the Gates-Hillman building. We present your
        events using a clean and modern interface that is highly visible
        to the entire student body. 
      <br><br>
        The web application you are viewing also provides a fast and
        simple way to peruse upcoming events as well as submit your own
        events.
      </p> 


      <p class="core-subheading">How can I submit my events?</p>
      <p class="event-modal-text-regular">
        Currently, only members of student organizations can add events
        to Teudu. If you are a member of a student organization and wish
        to have access to the Teudu system, please contact our 
        <a href="mailto:teudumod@gmail.com">moderator</a>.
      </p>
    </div>

    <div class="core-helpers-naive-column">
      <p class="core-subheading">Who are we?</p>
      <p class="event-modal-text-regular">
        Teudu was created in part by the 
        <a href="http://acmatcmu.org/">ACM Apps Team</a>. 
        Key developers are listed below.<br/><br />
        Front End Developers: Connie Wen, Ashna Ashok <br /> 
        Back End Developers: Avesh Singh, Vilcya Wirantana <br />
        Kinect Developers: Stephanie Luck, Won Gu Kang, and Lindsay Zhong 
        <br> <br>
        Teudu was originally an 
        <a href="http://www.cmu.edu/information-systems">
          Information Systems
        </a> 
        two-semester capstone project envisioned by the Teudu project team: 
        Miki Bentz, Shruti Kataria, Harold Kim, Vivek Pai, 
        Raja Sooriamurthi (advisor), and Brian Yee. It is now maintained 
        exclusively by the ACM Apps Team.
      </p>
    </div>
  </div>

  <div class="about-v2">
    <div class="core-helpers-naive-column">
      <p class="core-subheading">Background</p>
      <p class="event-modal-text-regular">
      Teudu is a free web application that is designed to help you
      organize and find out about events.  On the main page, you can
      filter the events in our database by date, time, and category.
      Then you can click on a specific event to view details about it.
      </p>

      <p class="core-subheading">Create an Event</p>
      <p class="event-modal-text-regular">
      You can also create your own event. By clicking on the New 
      Event link at the left of the page you can create an event
      with a variety of different characteristics, including the name,
      description, location, time and date, and the categories the
      event belongs to.  If you do decide to create an event, it will
      have to be approved by a moderator first, so it will not show up
      on the home page immediately.
      </p>

      <p class="core-subheading">Credits</p>
      <p class="event-modal-text-regular">
      Teudu was created in part by the ACM JV Apps Team. To learn more,
      visit our website at
      <a href="http://acmatcmu.org/">
        http://acmatcmu.org/.
      </a>
      </p>
    </div>
  </div>

</div>
