<div class="container">
	<div class="pageText">
		<h1>Welcome to Teudu.</h1>
		
		<h2>Why?</h2>
		<p class="paragraphtext">
        In 2011, President Cohon posed a question to his student advisory council: 
        is Carnegie Mellon fun? After some discussion, the students came to the 
        conclusion that while there are a number of diverse interesting events on 
        campus students just don't know about them: publicity and discovery are 
        problems. Teudu was born as an answer: a highly visual, interactive, and 
        most important, filterable, advertising medium.
		</p>

		<h2>Why advertise on Teudu?</h2>
        <p class="paragraphtext">
        Teudu provides an interactive Kinect environment installed on the fifth 
        floor of the Gates-Hillman building. We present your events using a 
        clean and modern interface that is highly visible to the entire student 
        body. 
		<br><br>
        The web application you are viewing also provides a fast and simple way 
        to peruse upcoming events as well as submit your own events.
        </p> 


		<h2>How can I submit my events?</h2>
		<p class="paragraphtext">
        Currently, only members of student organizations can add events to Teudu. 
        If you are a member of a student organization and wish to have access to 
        the Teudu system, please contact our 
        <a href="mailto:teudumod@gmail.com">moderator</a>.
		</p>



		<h2>Who are we?</h2>
		<p class="paragraphtext">
        Teudu was created in part by the 
        <a href="http://acmatcmu.org/">ACM Apps Team</a>. 
        Key developers are listed below.<br/><br />
        Front End Developers: Connie Wen, Ashna Ashok <br /> 
        Back End Developers: Avesh Singh, Vilcya Wirantana <br />
        Kinect Developers: Stephanie Luck, Won Gu Kang, and Lindsay Zhong 
		<br> <br>
        Teudu was originally an 
        <a href="http://www.cmu.edu/information-systems">Information Systems</a> 
        two-semester capstone project envisioned by the Teudu project team: 
        Miki Bentz, Shruti Kataria, Harold Kim, Vivek Pai, 
        Raja Sooriamurthi (advisor), and Brian Yee. It is now maintained 
        exclusively by the ACM Apps Team.
		</p>
	</div>
</div>
