h1 {
  font-size:25px;
  font-weight:bold;
}

.simple-list {
  list-style-type:none;
}

.simple-row {
  background:#ccc;
  color:black;
  height:20px;
  margin:5px;
  padding:5px;
  width:1000px;
}

.info-label {
  width:800px;
}

.action-link {
}

.inline {
  display:inline;
}
