/*
 * This is a manifest file that'll automatically include all the stylesheets available in
 * this directory and any sub-directories. You're free to add application-wide styles to
 * this file and they'll appear at the top of the compiled file, but it's generally better
 * to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* 
 * ----
 * font
 * ----
 */
body {
  display: inline;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

ul {
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

li {
  list-style-type: none;
}

.placeholder-everything-else-container {
  position: fixed;
  top: 0;
  left: 256px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.float-right {
  float: right;
}

.reduce-margin {
  margin-top: 8px !important;
  margin-left: 8px !important;
}
