/**
 * Base styles for Teudu
 */

$animation_length: 0.5s;
$info_column_width: 300px;
$header_height: 500px;

html { height: 100%; 
       min-width: 1200px;}

body {
  overflow: scroll;
  height: 100%;
  min-height: 100%;
  background: #F0F0F0 url('/images/shattered2.png');
  background-repeat: repeat;

  color: #111;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1em;
  margin: 0 auto -4em;
}

hr{
	border-style: dashed;
	border-color: #777;
	border-width: 0px 0px 1px 0px;
}

form{
	width: 800px;
}

.pageText{
	width: 800px;
	margin: 0 auto;
	margin-bottom: 50px;

}
	.pageText h2{
		margin: 20px 0px 0px 0px;
		font-size: 18px;
		color: #8C0F2E;
	}

.paragraphtext {
	 margin:20px auto 0px auto; 
	 line-height: 150%; 
	 letter-spacing: 1px;
	 padding-bottom: 5px;
	 	border-style: dashed;
	border-color: #777;
	border-width: 0px 0px 1px 0px;
}

.header {

	color: #ffffff;
	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */


	z-index: 5;
	width: 100%;
	text-align: center;
	padding: 5px 0px 10px 0px;
	
	#image {
	    display: inline;
	    text-align:left;
	    padding-right: 5%;
	}

	#hMenu {
		color: #ffffff;
		letter-spacing: 2px;
		display: inline;
		font-size: 12px;
		padding-right:15px;
		position: relative; 

		li {
			display: inline-block;
			
			a {
				display: block;

				padding: 5px 8px;
				color: #ffffff;

				text-decoration: none;

				&:hover {
					color: #FFF;
					background: #3ca2f2;
					text-shadow: 0px 1px 1px #111; } }
		}
		
		li.right {
			background: #444; color: white;
			padding: 5px 12px;
			font-weight: bold;
		}
	}
}

#a, #b, #c, #d, #e {
  line-height: 2em;
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: $animation_length;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    -moz-animation-name: reset, fade-in;
    -moz-animation-duration: $animation_length;
    -moz-animation-timing-function: ease-in;
    -moz-animation-iteration-count: 1;
  
}

@-webkit-keyframes reset {
0% {
    opacity: 0;
}
100% {
    opacity: 0;
}
}
 
@-webkit-keyframes fade-in {
0% {
    opacity: 0;
}
60% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
 
#a {-webkit-animation-delay: 0, 0;
    -moz-animation-delay: 0, 0;}
#b {-webkit-animation-delay: 0, $animation_length*0.2;
    -moz-animation-delay: 0, $animation_length*0.2;}
#c {-webkit-animation-delay: 0, $animation_length*0.4;
    -moz-animation-delay: 0, $animation_length*0.4;}
#d {-webkit-animation-delay: 0, $animation_length*0.6;
    -moz-animation-delay: 0, $animation_length*0.6;}
#e {-webkit-animation-delay: 0, $animation_length*0.75;
    -moz-animation-delay: 0, $animation_length*0.75;}

.container {
	margin: 0 auto -4em auto;
	width: 90%;

	display: block;
	padding: 0px 30px 30px 30px;
}

.footer {
	float: right;
	width: 100%;
    height: 4px;
	position: relative;
	top: 30px;
	border-top: 1px dotted #888;
	padding: 10px 0 30px 0;
	text-align:center;
	font-size: 12px;
	letter-spacing: 1px;
	clear: both;
}

.field_with_errors{
	display: block !important;
}

.instructions{
	margin-bottom: 2em;
}

p{
	line-height: 150%;
}
