<% content_for :title, @organization.name %>
<div class="container" id="cEvent">
	
	<div class="event-form">

		<%= render 'form' %>
	</div>
	<%= link_to 'Show', @organization %> |
	<%= link_to 'Back', organizations_path %>
</div>
